services:
  napcat:
    image: mlikiowa/napcat-docker:latest
    container_name: napcat
    environment:
      - NAPCAT_GID=0
      - NAPCAT_UID=0
    restart: always
    mac_address: 92:5E:A8:1F:C3:B4
    volumes:
      - ./napcat/QQ:/app/.config/QQ
      - ./napcat/config:/app/napcat/config
      - ./temp_server:/app/temp_server
    depends_on:
      - llmq

  llmq:
    build:
      context: .
      dockerfile: Dockerfile
    image: llmq-horizon:local
    container_name: llmq-horizon
    restart: always
    ports:
      - "40000:5000"
    volumes:
      - ./config.toml:/app/config.toml
      - ./config-tools.toml:/app/config-tools.toml
      - ./temp_server:/app/temp_server
      - ./data:/app/data
    environment:
      - TZ=Asia/Shanghai